<section>
	<% if signed_in? %>
		<%= render 'follow_tag_form' %>
	<% else %>
		<h3>Want to share something? <%= link_to "Sign Up", signup_path %> or <%= link_to "Log In", signin_path %><h3>
	<% end %>
</section>
<h1><%= Tag.name %></h1>
<%= render 'shared/feed' %>